body { background-color: rgba(3, 28, 139, 0.071) }

.carouselCustom {
    width: 100%;
    height: 100%;
}

.closeMenu{
    margin-left: 90%;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
